@use "../../styles/index.scss";

.section-title {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    margin: 30px 0;

    &-white {
        color: index.$white;
    }
    &-black {
        color: index.$black;
    }
}