@use '../../styles/index.scss';

.button {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px 18px;
    margin: 30px auto;
    font-size: 1.8rem;
    border-width: 2px;
    font-weight: 400;
    border: 2px solid;
    transition: .3s ease-in-out;

    &:hover {
        background-color: index.$yellow;
    }

    &-white {
        color: index.$white;
        border-color: index.$white;

        &:hover {
            border-color: index.$yellow;
        }
    }

    &-blue {
        color: index.$blue;
        border-color: index.$blue;

        &:hover {
            color: index.$white;
            border-color: index.$yellow;
        }
    }
}