@use '../../styles/index.scss' as *;

.button {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px 18px;
    margin: 30px auto;
    font-size: 1.8rem;
    border-width: 2px;
    font-weight: 400;
    border: 2px solid;
    transition: .3s ease-in-out;

    &:hover {
        background-color: $yellow;
    }

    &-white {
        color: $white;
        border-color: $white;

        &:hover {
            border-color: $yellow;
        }
    }

    &-blue {
        color: $blue;
        border-color: $blue;

        &:hover {
            color: $white;
            border-color: $yellow;
        }
    }
}