@use "../../../styles/index.scss" as *;

.mobile-menu {
  display: none;

  @media (max-width: $md) {
    display: block;
    position: relative;
  }

  &-list {
    position: absolute;
    top: 75px;
    background-color: #000;
    border-top: 2px solid $yellow;
    padding: 20px 0;
    width: 100%;
    height: auto;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: 1s ease;
    }
    &.inactive {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: 1s ease;
    }
  }
  &-element {
    text-align: center;
    padding: 5px 0;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
.bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.hamburger {
  &-icon {
    cursor: pointer;
    color: #fff;
    font-size: 2.6rem;
  }
  &-button {
    background: transparent;
    border: none;
  }

}


