@use "../../styles/index.scss";

.mobile-menu {
  display: none;
}
.menu {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000c9;
  transition: .5s;
  padding: 30px 0;

  &-home {
    background-color: transparent;
  }

  &-list {
    max-width: 1044px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
  }

  &-element {
    a {
      display: inline-block;
      color: index.$white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      padding: 5px 15px;
    }
  }
  &-shop {
    background-color: index.$yellow;
    transition: 0.5s;

    &:hover {
      background-color: index.$blue;
    }
  }
}
.scrolled-menu {
    background-color: #000000c9;
    transition: .5s;
}
.logo-image {
  width: 150px;
}
.logo-animation {
    width: 0;
    transition: all .5s;
  }
.cart-button {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 18px;
    color: index.$white;
}

@media only screen and (max-width: index.$md) {

    .menu {
        background-color: #000000c9;
    }
  .menu-list {
    display: none;
  }
  .mobile-menu {
    display: block;
    position: relative;

    &-list {
        position: absolute;
        top: 75px;
        background-color: #000000c9;
        border-top: 2px solid index.$yellow;
        padding: 20px 0;
        width: 100%;
        height: auto;
    }
    &-element {
        text-align: center;
        padding: 5px 0;
    
        a {
          text-decoration: none;
          color: #fff;
        }
    }
  }
  .bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .hamburger-icon {
    cursor: pointer;
    color: #fff;
    font-size: 26px;
  }
  .active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 1s ease;
  }
  .inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 1s ease;
  }
}
