@use "../../styles/index.scss" as *;

.product-list {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-auto-rows: auto;
  margin: 0 auto;
  gap: 40px;
  padding: 40px 20px;

  @media (max-width: $lg) {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}

.sorting-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto 30px 0;
  padding: 10px;

  @media (max-width: $lg) {
    display: none;
  }

  &-mobile {
    display: none;
    margin-top: 15px;

    @media (max-width: $lg) {
      display: block;
      max-width: 300px;
    }

    label {
      color: #fff;
    }
  }

  label {
    font-size: 1.8rem;
    font-weight: 600;
  }
}
