@use "../../../styles/index.scss";

.section-hero {
  display: flex;
  align-items: center;
  background: url("../../../assets/Home/SectionHero/Tlo_strona-glowna.png");
  min-height: 100vh;
  margin-top: -118px;

  @media (max-width: index.$md) {
    gap: 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  &-desc {
    color: index.$white;
  }

  &-image {
    img {
      max-width: 100%;
    }
  }
}
