@use "../../../styles/index.scss" as *;

.section-hero {
  display: flex;
  align-items: center;
  background: url("../../../assets/Home/SectionHero/Tlo_strona-glowna.png");
  min-height: 100vh;
  margin-top: $default-menu-height;

  @media (max-width: $md) {
    gap: 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  &-desc {
    width: 100%;
    color: $white;

    &-container {
      margin: 0 auto;
      max-width: 500px;
    }

    h1 {
      font-size: 3rem;
      font-weight: 400;
    }
  }

  &-image {
    img {
      max-width: 100%;
    }
  }
}
