@use "../../styles/index.scss" as *;

.shopping-cart {
  max-width: 80%;
  margin: 0 auto;

  @media (max-width: $lg) {
    max-width: 100%;
  }
}

.cart-product-list {
    max-width: 80%;
    margin: 10px auto;
    border: 1px solid #eee;

    @media (max-width: $lg) {
      max-width: 90%;
    }
  
    &-titles {
      display: grid;
      grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 0.4fr;
      gap: 15px;
      padding: 10px 20px;
      border-bottom: 1px solid #eee;
      font-weight: 600;
      
      @media (max-width: $lg) {
        grid-template-columns: 0.2fr 1fr 0.5fr 0.5fr;
      }
    }
    &-total-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 30px; 
      
      @media (max-width: $sm) {
        margin: 0 10px;
      }
    }
  }